* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.wav binary
*.ogg binary
*.mp3 binary

# Preserve upstream license files byte-for-byte, including original whitespace.
assets/audio/*/License.txt -text -whitespace
